<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <title>Adminpage</title>
</head>
<body>
<header>
    <h1>Admin page</h1>
    <h1>Hello Boss <div th:text="${#authentication.principal.firstName}"></div></h1>
    <button><a th:href="@{/logout}">Logout?</a></button>
</header>
<main>
    <div sec:authentication="principal.firstName"></div>
    <div sec:authentication="principal.lastName"></div>
    <div sec:authorize="hasRole('USER')"><a th:href="@{'/delete/' + ${#authentication.principal.username}}"
                                            class="btn btn-danger" role="button">Delete</a></div>
</main>
<footer id="mainFooter">
    <div class="footer">
        <h3>This it the footer</h3>
    </div>
</footer>
</body>
</html>