<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<header>
    <h1>Welcome to Keep Your Shit Together, aka KYST</h1>
    <div class="buttonContainer">
        <button><a th:href="@{/admin}">Adminpage</a></button>
        <button><a th:href="@{/user}">Userpage</a></button>
        <button><a th:href="@{/register}">SignUp</a></button>
    </div>
</header>
<footer id="mainFooter">
    <div class="footer">
        <h3>This it the footer</h3>
    </div>
</footer>
</div>

</body>
</html>