<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<header>
    <h1>Welcome to Keep Your Shit Together, aka KYST</h1>
    <div class="buttonContainer">
        <button><a th:href="@{/admin}">Adminpage</a></button>
        <button><a th:href="@{/user}">Userpage</a></button>
        <button><a th:href="@{/register}">SignUp</a></button>
    </div>
</header>
<footer id="mainFooter">
    <div class="footer">
        <h3>This it the footer</h3>
    </div>
</footer>
</div>

</body>
</html>