<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet"
          th:href="@{/css/style.css}" />
</head>
<body>
<div class="container-fluid text-center ">

    <form th:action="@{/login}"
          method="post">

        <div th:if="${param.error}">
            <p class="text-danger">[[ ${session.SPRING_SECURITY_LAST_EXCEPTION.message} ]]</p>
        </div>

        <!-- On Logout -->
        <div th:if="${param.logout}">
            <p class="text-info">You have been logged out.</p>
        </div>

        <div class="border border-secondary p-3 rounded">

            <!-- Username Input -->
            <div class="">
                <input name="username" placeholder="username here..." type="text" class="form-control" required autofocus>
            </div>

            <!-- Password Input -->
            <div>
                <input name="password" placeholder="password here..." type="password" class="form-control" required autofocus>
            </div>

            <!-- Checkbox Remember-me Input -->
            <div>
                <input name="remember-me" type="checkbox" />&nbsp;Remember Me
            </div>

            <!-- Submit -->
            <div>
                <input type="submit"
                       value="Login"
                       class="btn btn-primary" />
            </div>

        </div>
    </form>
</div>

</body>
</html>