<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<div>
    <header>
        <button><a th:href="@{/kyst}">To Startpage</a></button>
        <h3>Login, your life is about to get organized</h3>
    </header>
</div>
<div>
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <form th:action="@{/login}"
          method="post"
          style="max-width: 350px;
          margin: 0 auto;">

        <div th:if="${param.error}">
            <p class="text-danger">[[ ${session.SPRING_SECURITY_LAST_EXCEPTION.message} ]]</p>
        </div>
        <!-- On Logout -->
        <div th:if="${param.logout}">
            <p class="text-info">You have been logged out.</p>
        </div>

        <div>
            <!-- Username Input -->
            <div>
                <input name="username" placeholder="username here..." type="text" class="form-control" required autofocus>
            </div>
            <!-- Password Input -->
            <div>
                <input name="password" placeholder="password here..." type="password" class="form-control" required autofocus/>
            </div>
            <!-- Checkbox Remember-me Input -->
            <div>
                <input name="remember-me" type="checkbox" />&nbsp;Remember Me
            </div>

            <!-- Submit -->
            <div>
                <a href="@"></a> <input type="submit"
                        value="Login"
                        class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
<footer id="mainFooter">
    <div class="footer">
        <h3>This is the footer</h3>
    </div>
</footer>
</body>
</html>