<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<div>
    <header>
        <h1>Login, your life is about to get organized</h1>
    </header>
</div>
<div>
    <form th:action="@{/login}"
          method="post"
          style="max-width: 350px;
          margin: 0 auto;">

        <div th:if="${param.error}">
            <p class="text-danger">[[ ${session.SPRING_SECURITY_LAST_EXCEPTION.message} ]]</p>
        </div>

        <!-- On Logout -->
        <div th:if="${param.logout}">
            <p class="text-info">You have been logged out.</p>
        </div>

        <div>

            <!-- Username Input -->
            <div>
                <input name="username" placeholder="username here..." type="text" class="form-control" required autofocus>
            </div>

            <!-- Password Input -->
            <div>
                <input name="password" placeholder="password here..." type="password" class="form-control" required autofocus/>
            </div>

            <!-- Checkbox Remember-me Input -->
            <div>
                <input name="remember-me" type="checkbox" />&nbsp;Remember Me
            </div>

            <!-- Submit -->
            <div>
                <input type="submit"
                        value="Login"
                        class="btn btn-primary"/>
            </div>

        </div>
    </form>
</div>
<footer id="mainFooter">
    <div class="footer">
        <h3>This it the footer</h3>
    </div>
</footer>
</body>
</html>