<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <title>SignUp</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div class=" d-flex justify-content-center">
<form th:action="@{/register}" th:object="${userModel}" method="post">

    <div>
        <p>Firstname:</p>
        <input th:field="*{firstName}" type="text" placeholder="Firstname"/>

        <!-- Display SINGULAR error -->
        <p th:if="${ #fields.hasErrors('firstName') }"
           th:errors="*{firstName}"
           th:errorclass="error"
        ></p>
    </div>

    <div>
        <p>Lastname:</p>
        <input th:field="*{lastName}" type="text" placeholder="Lastname"/>

        <!-- Display SINGULAR error -->
        <p th:if="${ #fields.hasErrors('lastName') }"
           th:errors="*{lastName}"
           th:errorclass="error"
        ></p>
    </div>

    <div>
        <p>Amount of family members:</p>
        <input th:field="*{familyMembers}" type="text" placeholder="Amount of familymembers">

        <!-- Display SINGULAR error -->
        <p th:if="${ #fields.hasErrors('familyMembers') }"
           th:errors="*{familyMembers}"
           th:errorclass="error"
        ></p>
    </div>

    <!-- Username Input -->
    <div>
        <p>Username:</p>
        <input th:field="*{username}" type="text" placeholder="write your username here...">

        <!-- Display SINGULAR error -->
        <p th:if="${ #fields.hasErrors('username') }"
           th:errors="*{username}"
           th:errorclass="error"
        ></p>
    </div>

    <!-- Password Input -->
    <div>
        <p>Password:</p>
        <input th:field="*{password}" type="password" placeholder="write your password here..."/>

        <ul>
            <li th:each="error : ${#fields.errors('password')}"
                th:text="${error}"
                class="error">
            </li>
        </ul>

    </div>

    <div class="m-4 dropdown d-flex">

        <select class="btn btn-primary dropdown-toggle" th:field="*{authorities}">
            <option class="dropdown-item" th:text="Admin" value="Admin"></option>
            <option class="dropdown-item" th:text="User" value="User"></option>
            <option class="dropdown-item" th:text="Company" value="Company"></option>
        </select>
    </div>

    <div class="d-flex justify-content-center p-5">
        <input type="submit" value="SignUp" class="btn btn-primary" />
    </div>
</form>
</div>
<footer id="mainFooter">
    <div class="footer">
        <h3>This it the footer</h3>
    </div>
</footer>
</body>
</html>